<div class='row'>
  <div class="col-lg-4 order-lg-1">
  </div>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class='row'>
          <div class='col-md-12 col-lg-12'>
                        <div class="form-group">
              <%= label :access_control, :user_id , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.user_id %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :role_id , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.role_id %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :view_unrelated_articles , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.view_unrelated_articles %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :view_article_logs , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.view_article_logs %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :view_workflow_transactions , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.view_workflow_transactions %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :create_workflow , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.create_workflow %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :alter_article_areas , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.alter_article_areas %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :alter_article_events , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.alter_article_events %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :alter_article_formats , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.alter_article_formats %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :alter_article_relation_types , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.alter_article_relation_types %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :alter_article_sources , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.alter_article_sources %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :alter_article_types , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.alter_article_types %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :alter_keywords , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.alter_keywords %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :alter_languages , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.alter_languages %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :alter_profiles , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.alter_profiles %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :alter_roles , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.alter_roles %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :alter_duties , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.alter_duties %></div>
            </div>
                        <div class="form-group">
              <%= label :access_control, :alter_title_types , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @access_control.alter_title_types %></div>
            </div>
                      </div>
        </div>
      </div>
    </div>
  </div>
</div>
