<% if grant_access("edit_assignments", current_user)%>
<%= form_for(@assignment, html: {class: 'card'}) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :new_assignment %></h3>
</div>

<div class="card-body">
  <% if @assignment.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4><%= @assignment.errors.count%> <%=t :error%> <%=t :prohibited_this_assignment_from_being_saved%></h4>

    <ul>
      <% @assignment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :user_id, class: "form-label" %>
        <%= text_field_tag :assignment_profile, nil , class: "form-control" %>
        <%= f.hidden_field :user_id , value: '' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :role_id, class: "form-label" %>
        <%= text_field_tag :assignment_role, nil , class: "form-control" %>
        <%= f.hidden_field :role_id , class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="card-footer text-right">
    <button type="submit" class="btn btn-primary"><%=t :submit%></button>
  </div>
  </div>
  <% end %>
<%end%>