<% if grant_access("edit_assignments", current_user) || grant_access("alter_assignments", current_user)%>
<div class="row row-cards">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
            <% if grant_access("edit_assignments", current_user)%>
              <%= link_to  new_assignment_url, class: "btn btn-lime  btn-sm" do%>
              <i class="fe fe-plus" style="vertical-align:-3px;"></i> <%=t :new%>
              <%end%>
            <%end%>
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <table class="table card-table table-vcenter">
        <tbody>
          <% @assignments.group_by(&:user).each do |u, m| %>

          <tr>
            <% if u.profile %>
            <td><%= u.profile.fullname %></td>
            <td>
              <% m.each do |a|%>
              <div class="tag mt-1">
                  <%= a.role.title%>

                <span class="tag-addon tag-yellow" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                  <i class="fe fe-briefcase"></i>
                </span>
                <% if grant_access("alter_assignments", current_user) || a.assigner_id == current_user.id%>
                  <%= link_to a, method: :delete, class: "tag-addon",data: { confirm: 'Are you sure?' } do%>
                    <i class="fe fe-x" style="vertical-align:-3px"></i>
                  <%end%>
                <%end%>

              </div>
              <%end%>
            </td>
            <%else%>
            <td><%= u.email %></td>
            <td>
              <% m.each do |a|%>
              <div class="tag mt-1">
                  <%= a.role.title%>

                <span class="tag-addon tag-yellow" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                  <i class="fe fe-briefcase"></i>
                </span>
                <% if grant_access("alter_assignments", current_user) || a.assigner_id == current_user.id%>
                  <%= link_to a, method: :delete, class: "tag-addon",data: { confirm: 'Are you sure?' } do%>
                    <i class="fe fe-x" style="vertical-align:-3px"></i>
                  <%end%>
                <%end%>

              </div>
              <%end%>
            </td>
            <%end%>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%end%>