<div class="container">
  <div class="row">
    <div class="col col-login mx-auto">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'card'}) do |f| %>
      <%= devise_error_messages! %>
      <div class="card-body p-6">
        <div class="text-center mb-6">
          <img src="/assets/logo.png" class="h-6" alt="">
        </div>
        <div class="card-title"><%=t :sign_up%></div>
        <div class="form-group">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"#{t(:enter_email)}" %>
        </div>
        <div class="form-group">
          <label class="form-label" for="user_password">
            <%=t :password%>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> <%=t :characters_minimum%>)</em>
            <% end %>
          </label>

          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class:"form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>
        <div class="form-group">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label" style="padding-right: 20px;padding-top: 5px;">Agree the <a href="terms.html">terms and policy</a></span>
          </label>
        </div>
        <div class="form-footer mb-3">
          <button type="submit" class="btn btn-primary btn-block"><%=t :sign_up%></button>
        </div>
      </div>
      <%end%>
      <div class="text-center text-muted">
        <%=t :already_have_account%> <a href="/users/sign_in"><%=t :sign_in%></a>
      </div>
    </div>
  </div>
</div>
