<div class="container">
  <div class="row">
    <div class="col col-login mx-auto">
      <div class="text-center mb-6">
        <img src="./assets/brand/tabler.svg" class="h-6" alt="">
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'card'}) do |f| %>
      <%= devise_error_messages! %>
      <div class="card-body p-6">
        <div class="card-title">Create new account</div>
        <div class="form-group">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Enter email" %>
        </div>
        <div class="form-group">
          <%= f.label :password, class:"form-label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class:"form-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>
        <div class="form-group">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label" style="padding-right: 20px;padding-top: 5px;">Agree the <a href="terms.html">terms and policy</a></span>
          </label>
        </div>
        <div class="form-footer">
          <button type="submit" class="btn btn-primary btn-block">Create new account</button>
        </div>
      </div>
      <%end%>
      <div class="text-center text-muted">
        Already have account? <a href="/users/sign_in">Sign in</a>
      </div>
    </div>
  </div>
</div>
