<%= form_for(comment, remote: true) do |f| %>
  <% if comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

    <ul>
      <% comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.text_area :content, rows: 2, class: "form-control", placeholder: t(:leave_comment) %>
        </div>
      </div>
      </div>

    <%= f.hidden_field :commentable_id, value: commentable_id %>
    <%= f.hidden_field :commentable_type, value: commentable_type %>
    <%= f.hidden_field :comment_type, value: comment_type %>

    <div class="text-right mt-0 mb-1">
      <button type="submit" class="btn btn-sm btn-primary"><%= t :submit %></button>
    </div>
<% end %>
