<%= form_for(@publish_source, html: {class: 'card'}) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :publish_source_form %></h3>
</div>
<% if @publish_source.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@publish_source.errors.count, "error") %> prohibited this publish_source from being saved:</h2>

  <ul>
    <% @publish_source.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card-body">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title , class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :description, class: "form-label" %>
        <%= f.text_area :description , class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :publisher_id, class: "form-label" %>
        <%= f.select :publisher_id, options_for_select(Publisher.all.collect { |p| [ p.title, p.id ] }), {} ,{class: "form-control"} %>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <button type="submit" class="btn btn-primary"><%=t :submit%></button>
  </div>
  <% end %>
