<div class="card-body" id='article-show'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
      <%= form_tag "/articles/compare/#{@article.id}", method: :get, remote: true do%>
      <table>
        <thead style="font-size: smaller;font-weight: 600;">
          <tr>
            <td><%=t :compare_source%></td>
            <td><%=t :compare_target%></td>
            <td><%=t :revision_number%></td>
            <td  class="pr-2"><%=t :by%></td>
            <td><%=t :transition_date %></td>
          </tr>
        </thead>
        <% for workflow_transition in WorkflowTransition.where(article_id: @article.id)%>
        <% @from = truncate(WorkflowState.find(workflow_transition.from_state_id).title, length: 14)%>
        <% @to = truncate(WorkflowState.find(workflow_transition.to_state_id).title, length: 14)%>
        <tr>
          <td>
              <label class="custom-control custom-radio pr-1">
                <input type="radio" class="custom-control-input" name="source" value="<%= workflow_transition.revision_number%>" <%if defined?(result) && result[:sah].revision_number == workflow_transition.revision_number%>checked<%end%>>
                <div class="custom-control-label" style='padding-right: 23px;padding-top: 2px;font-size:smaller;'>
                  <%=@from%><i class="fe fe-arrow-left" style="vertical-align:-2px;font-size:smaller"></i><%= @to%>
                </div>
              </label>
          </td>
          <td>
            <label class="custom-control custom-radio pr-1">
              <input type="radio" class="custom-control-input" name="target" value="<%= workflow_transition.revision_number%>" <%if defined?(result) && result[:tah].revision_number == workflow_transition.revision_number%>checked<%end%>>
              <div class="custom-control-label" style='padding-right: 23px;padding-top: 2px;font-size:smaller;'>
                <%=@from%><i class="fe fe-arrow-left" style="vertical-align:-2px;font-size:smaller"></i><%= @to%>
              </div>
            </label>
          </td>
          <td><span class="tag tag-dark" style="font-family: sans-serif !important;direction: ltr; font-size:smaller; vertical-align: 11px;">#<%= workflow_transition.revision_number%></span></td>
          <td>
            <span class="tag mr-2" style="vertical-align:4px;">
              <span class="tag-avatar avatar" style="background-image: url('<%= workflow_transition.user.profile.avatar(:tiny)%>')"></span>
              <%= truncate(workflow_transition.user.profile.fullname, length: 15)%>
            </span>
          </td>
          <td>
            <small class="text-muted" style="vertical-align:12px;">
              <span>
                <% @jalali = JalaliDate.to_jalali(workflow_transition.updated_at)%>
                <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
              </span>
            </small>
          </td>
        </tr>
        <%end%>
      </table>

      <div class='row'>
        <div class='col-md-12 col-lg-12'>
          <div class="text-right">
            <button type="submit" class="btn btn-primary btn-sm"><%=t :compare%></button>
          </div>
        </div>
      </div>
      <%end%>
      <%if defined?(result)%>
      <div class='row'>
        <div class='col-md-12 col-lg-12'>
          <span  style='font-size: smaller;vertical-align: 4px;'><i class="fe fe-alert-triangle" style='vertical-align:-3px;'></i> <%=t :help%>: </span>
          <span class="colorinput-color" style="background-color: grey; width: 0.6rem;height: 0.8rem;"></span>
          <span style='font-size: smaller;vertical-align: 4px;'><%=t :not_changed%></span>
          <span class="colorinput-color" style="background-color: #82c143; width: 0.6rem;height: 0.8rem;"></span>
          <span style='font-size: smaller;vertical-align: 4px; color: #82c143;'><%=t :inserted%></span>
          <span class="colorinput-color" style="background-color: #e89494; width: 0.6rem;height: 0.8rem;"></span>
          <span style='font-size: smaller;vertical-align: 4px; color:#e89494;'><%=t :deleted%></span>
        </div>
      </div>
      <hr class="mb-3 mt-2"/>
      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :title%></label>
        <div id='first-title' class='compare' style="display:none;"><% if !result[:sah].blank?%><%=raw result[:sah].title%><%end%></div>
        <div id='last-title' style="display:none;"><% if !result[:tah].blank?%><%=raw result[:tah].title%><%end%></div>
        <pre id="display-title"></pre>
      </div>
      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :abstract%></label>
        <div id='first-abstract' class='compare' style="display:none;"><% if !result[:sah].blank?%><%=raw result[:sah].abstract%><%end%></div>
        <div id='last-abstract' style="display:none;"><% if !result[:tah].blank?%><%=raw result[:tah].abstract%><%end%></div>
        <pre id="display-abstract"></pre>
      </div>
      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :content%></label>
        <div id='first-content' class='compare' style="display:none;"><% if !result[:sah].blank?%><%=raw result[:sah].content%><%end%></div>
        <div id='last-content' style="display:none;"><% if !result[:tah].blank?%><%=raw result[:tah].content%><%end%></div>
        <pre id="display-content"></pre>
      </div>

      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :url%></label>
        <div id='first-url' class='compare' style="display:none;"><% if !result[:sah].blank?%><%=raw result[:sah].url%><%end%></div>
        <div id='last-url' style="display:none;"><% if !result[:tah].blank?%><%=raw result[:tah].url%><%end%></div>
        <pre id="display-url"></pre>
      </div>

      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :keywords%></label>
        <% for keyword in result[:th][:remainder]%>
        <span class='tag'><%= keyword.title%></span>
        <%end%>
        <% for keyword in result[:th][:new]%>
        <span class='tag tag-green'><%= keyword.title%></span>
        <%end%>
        <% for keyword in result[:th][:deleted]%>
        <span class='tag tag-red'><%= keyword.title%></span>
        <%end%>
      </div>

      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :datings%></label>
        <% for dating in result[:dh][:remainder]%>
        <span class='tag'><%= dating.article_event.title%>:
            <% @jalali = JalaliDate.to_jalali(dating.event_date)%>
            <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
        </span>
        <%end%>
        <% for dating in result[:dh][:new]%>
        <span class='tag tag-light-green tag-square'>
          <%= dating.article_event.title%>:
              <% @jalali = JalaliDate.to_jalali(dating.event_date)%>
              <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
        </span>
        <%end%>
      </div>

      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :attachments%></label>
        <% for upload in result[:uh][:remainder]%>
        <span class='tag'>
            <%= link_to upload.attachment.url do%>
            <i class="fe fe-download" style="vertical-align:middle;"></i> <%=t :download_file%>
            <%end%>
        </span>
        <%end%>
        <% for upload in result[:uh][:new]%>
        <span class='tag  tag-light-green tag-square'>
          <%= link_to upload.attachment.url do%>
          <i class="fe fe-download" style="vertical-align:middle;"></i> <%=t :download_file%>
          <%end%>
        </span>
        <%end%>
      </div>

      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :article_type%></label>
        <% for typing in result[:tyh][:remainder]%>
        <span class='tag'>
          <%= typing.article_type.title%>
        </span>
        <%end%>
        <% for typing in result[:tyh][:new]%>
        <span class='tag  tag-light-green tag-square'>
          <%= typing.article_type.title%>
        </span>
        <%end%>
      </div>

      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :language%></label>
        <% for speaking in result[:sh][:remainder]%>
        <span class='tag'>
          <%= speaking.language.title%>
        </span>
        <%end%>
        <% for speaking in result[:sh][:new]%>
        <span class='tag  tag-light-green tag-square'>
          <%= speaking.language.title%>
        </span>
        <%end%>
      </div>

      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :article_format%></label>
        <% for formating in result[:fh][:remainder]%>
        <span class='tag'>
          <%= formating.article_format.title%>
        </span>
        <%end%>
        <% for formating in result[:fh][:new]%>
        <span class='tag  tag-light-green tag-square'>
          <%= formating.article_format.title%>
        </span>
        <%end%>
      </div>

      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :contributors%></label>
        <% for contribution in result[:ch][:remainder]%>
        <span class='tag'>
          <%=t :fullname%>: <%= contribution.profile.fullname%>,
          <%=t :role%>: <%= contribution.role.title%>,
          <%=t :duty%>: <%= contribution.duty.title%>
        </span>
        <%end%>
        <% for contribution in result[:ch][:new]%>
        <span class='tag  tag-light-green tag-square'>
          <%=t :fullname%>: <%= contribution.profile.fullname%>,
          <%=t :role%>: <%= contribution.role.title%>,
          <%=t :duty%>: <%= contribution.duty.title%>
        </span>
        <%end%>
      </div>

      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :contributors%></label>
        <% for kinship in result[:kh][:remainder]%>
        <span class='tag'>
          <%=t :article_relation_type%>: <%= kinship.article_relation_type.title%>, <%=t :kin%>: <%= kinship.kin.title%>
        </span>
        <%end%>
        <% for kinship in result[:kh][:new]%>
        <span class='tag  tag-light-green tag-square'>
            <%=t :article_relation_type%>: <%= kinship.article_relation_type.title%>, <%=t :kin%>: <%= kinship.kin.title%>
        </span>
        <%end%>
      </div>

      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :article_source%></label>
        <% for originating in result[:oh][:remainder]%>
        <span class='tag'>
          <%= originating.article_source.title%>
        </span>
        <%end%>
        <% for originating in result[:oh][:new]%>
        <span class='tag  tag-light-green tag-square'>
          <%= originating.article_source.title%>
        </span>
        <%end%>
      </div>

      <div class="form-group">
        <label  class="form-label" style='color: #7795c1;'><%=t :article_area%></label>
        <% for areaing in result[:ah][:remainder]%>
        <span class='tag'>
          <%= areaing.article_area.title%>
        </span>
        <%end%>
        <% for areaing in result[:ah][:new]%>
        <span class='tag  tag-light-green tag-square'>
          <%= areaing.article_area.title%>
        </span>
        <%end%>
      </div>

    </div>
  </div>
  <script>
  $( ".compare" ).each(function( index ) {
    var divType =  $(this).attr('id').split("-")[1];
    //console.log(divType);
    var first = $('#first-'+divType).text(),
    last = $('#last-'+divType).text(),
    color = '',
    span = null;

    var diff = JsDiff.diffWords(first, last),
    display = document.getElementById('display-'+divType),
    fragment = document.createDocumentFragment();

    diff.forEach(function(part){
      color = part.added ? '#82c143' :
      part.removed ? '#e89494' : 'grey';
      span = document.createElement('span');
      span.style.color = color;
      span.appendChild(document
        .createTextNode(part.value));
        fragment.appendChild(span);
      });

      display.appendChild(fragment);
    });
    </script>
    <%end%>
  </div>
