<table class="table card-table" id='article-show'>
  <tbody>
    <tr>
      <td style="text-align:left;width: 170px;"><%= label :article, :title , class: "form-label", style: 'color: #7795c1;'%></td>
      <td><%= @article.title %></td>
    </tr>
    <tr>
      <td style="text-align:left;"><%= label :article, :abstract , class: "form-label", style: 'color: #7795c1;'%></td>
      <td><%= @article.abstract %></td>
    </tr>
    <tr>
      <td style="text-align:left;"><%= label :article, :url , class: "form-label", style: 'color: #7795c1;'%></td>
      <td><%= @article.url %></td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :keywords%></td>
      <td><% for tagging in Tagging.where(taggable_id: @article.id, taggable_type: 'Article', target_type: 'Keyword') %>
        <% @keyword = Keyword.find_by_id(tagging.target_id)%>
        <% if !@keyword.blank?%>
        <span class="tag"><%= @keyword.title%></span>
        <%end%>
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :datings%></td>
      <td><% for dating in @article.datings %>
        <%= dating.article_event.title%>:
        <span>
          <% @jalali = JalaliDate.to_jalali(dating.event_date)%>
          <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
        </span> |
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :attachments%></td>
      <td>
        <% for upload in Upload.where(uploadable_type: 'Article', uploadable_id: @article.id, attachment_type: 'article_attachment')%>
        <% if upload.attachment_content_type.include?("application") || upload.attachment_content_type.include?("text")%>
              <%= link_to upload.attachment.url do%>
          <i class="fe fe-download" style="vertical-align:middle;"></i> <%=t :download_file%>
          <%end%>
            <%else%>
        <a href="#" data-featherlight="<%= upload.attachment(:large)%>" data-featherlight-type="image">
          <%= image_tag upload.attachment(:tiny)%>
        </a>
        <%end%>
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :article_type%></td>
      <td>
        <% for typing in @article.typings %>
        <%= typing.article_type.title%> |
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :language%></td>
      <td>
        <% for speaking in @article.speakings %>
        <%= speaking.language.title%> |
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :article_format%></td>
      <td>
        <% for formating in @article.formatings %>
        <%= formating.article_format.title%> |
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :contributors%></td>
      <td>
        <% for contribution in @article.contributions %>
        <%=t :fullname%>: <%= contribution.profile.fullname%>,
        <%=t :role%>: <%= contribution.role.title%>,
        <%=t :duty%>: <%= contribution.duty.title%> |
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :relations%></td>
      <td>
        <% for kinship in @article.kinships %>
        <% if !kinship.blank?%>
        <%=t :article_relation_type%>: <%= kinship.article_relation_type.title%>, <%=t :kin%>: <%= kinship.kin.title%> |
        <%end%>
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :article_source%></td>
      <td>
        <% for originating in @article.originatings %>
        <%= originating.article_source.title%> |
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :article_area%></td>
      <td>
        <% for areaing in @article.areaings %>
        <%= areaing.article_area.title%> |
        <%end%>
      </td>
    </tr>
  </tbody>
</table>
