<div class='table-responsive'>
  <table class="table table-hover table-outline table-vcenter text-nowrap"  id='article-list'>
    <thead>
      <tr>
        <th class="text-center w-1"><i class="fe fe-command" style="vertical-align: -4px;"></i></th>
        <th><%=t :title%></th>
        <th><%=t :workflow_state %></th>
        <th><%=t :came_from %></th>
        <th><i class="fe fe-package"></i></th>
      </tr>
    </thead>
    <tbody>
      <% for article in articles%>
      <tr>
        <td class="text-center">
          <div class="item-action dropdown">
            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="/articles/<%= article.id%>" class="dropdown-item"><i class="dropdown-icon fe fe-play"></i><%=t :show%> </a>
              <a href="/articles/<%= article.id%>/edit" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> <%=t :edit%> </a>
              <%= link_to article, method: :delete, class: "dropdown-item" ,data: { confirm: 'Are you sure?' } do %>
              <i class="dropdown-icon fe fe-trash"></i> <%=t :destroy%>
              <%end%>
              <div class="dropdown-divider"></div>
              <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> <%=t :copy_aoi%></a>
            </div>
          </div>
        </td>
        <td>
          <div class='small'><%= truncate(article.title, length: 45)%></div>
          <div class="small text-muted">
            <%= truncate(article.titlings.first.content, length: 45)%>
          </div>
        </td>
        <td>
          <% if article.workflow_state%>
          <div class="small text-muted">
            <%= truncate(article.workflow_state.workflow.title, length: 30)%>
          </div>
          <div style="font-size:smaller;">
            <%= truncate(article.workflow_state.title, length: 30)%>
          </div>
          <%else%>
          <div class="small text-muted"><i class="fe fe-alert-triangle" style="vertical-align:-3px;"></i> <%=t :without_workflow%></div>
          <%end%>
        </td>
        <td>
          <% @previous_workflow_transition = WorkflowTransition.where(workflow_id: article.workflow_state.workflow.id, to_state_id: article.workflow_state_id, article_id: article.id).last%>
          <% if !@previous_workflow_transition.blank?%>
          <% @user = User.find(@previous_workflow_transition.user_id)%>
          <span class="tag">
            <span class="tag-avatar avatar" style="background-image: url('<%= @user.profile.avatar(:tiny)%>')"></span>
            <%= truncate(@user.profile.fullname, length: 15)%>
          </span>
          <%end%>
        </td>
        <td style="direction:ltr;">
          <% if article.workflow_state.votable != 2%>
          <i class="fe fe-circle"></i>
          <%else%>
          <% @voting = Voting.where(votable_type: 'WorkflowState', votable_id: article.workflow_state.id).first%>
          <% if !@voting.blank?%>
          <% @votes = Vote.where(voting_id: @voting.id, article_id: article.id)%>
          <%= @votes.count%>/<%= Assignment.where(role_id: article.workflow_state.role.id).count rescue nil%>
          <%else%>
          0/<%= Assignment.where(role_id: article.workflow_state.role.id).count rescue nil%>
          <%end%>
          <%end%>
        </td>

      </tr>
      <%end%>
    </tbody>
  </table>
</div>
<% if defined?(articles.total_pages)%>
<hr class="mb-0 mt-2"/>
<div class="digg_pagination  mb-2 mt-2 mr-auto ml-auto">
  <%= will_paginate articles, :container => false %>
</div>
<%end%>
