<%= render partial: 'articles/progress_bar', locals: {article: @article, active: ['titles', 'descriptors', 'related_dates', 'other_details', 'contributors']}%>
<div class='row row-cards row-deck'>
  <div  class='col-sm-6 col-lg-6'>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%=t :contributor_form%></h3>
      </div>
      <div class="card-status card-status-left bg-blue"></div>
      <div class="card-body">
        <% if permit_by_workflow(@article, current_user,'contributions')%>
          <%= render partial: 'contributions/remote_form', locals: {article: @article, contribution: Contribution.new}%>
        <%end%>
      </div>
    </div>
  </div>

  <div class='col-sm-6 col-lg-6'>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%=t :article_contributions%></h3>
      </div>
        <%= render partial: 'contributions/list', locals: {article: @article}%>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%=t :help%></h3>
  </div>
  <div class="card-body">

  </div>

  <div class="card-footer text-right">
    <a href='/articles/article_descriptors/<%= @article.id%>' class="btn btn-lime"><%=t :back%></a>
    <a href='/articles/article_relations/<%= @article.id%>' class="btn btn-primary"><%=t :submit_and_go%></a>
  </div>
</div>
