<%= render partial: 'articles/progress_bar', locals: {article: @article, active: ['titles', 'descriptors', 'related_dates', 'other_details']}%>

<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%=t :other_details%></h3>
  </div>
  <div class="card-body">
    <% if permit_by_workflow(@article, current_user,'article_type')%>
    <div class="form-group">
      <div class="form-label"><%=t :article_types%></div>
      <div>
        <% for article_type in ArticleType.all%>
        <%@typing = Typing.where(article_id: @article.id, article_type_id: article_type.id).first%>
        <label class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" id="article_type_<%= article_type.id%>" <% if !@typing.blank?%>checked<%end%> value="<%= article_type.id%>">
          <span class="custom-control-label" style='padding-right: 23px;padding-top: 2px;'><%= article_type.title%></span>
        </label>
        <script>
        $('#article_type_<%= article_type.id%>').change(function() {
          if($(this).is(":checked")) {
            $.ajax({
              url: '/typings/remotec/1',
              type: 'GET',
              dataType: 'json',
              data: {
                article_id: <%= @article.id%>,
                article_type_id: <%= article_type.id %>
              },
              error: function() {
                $(this).attr("checked", false);
              },
              success: function(res) {
                $(this).attr("checked", true);
              }
            });
          } else {
            $.ajax({
              url: '/typings/remoted/1',
              type: 'GET',
              dataType: 'json',
              data: {
                article_id: <%= @article.id%>,
                article_type_id: <%= article_type.id %>
              },
              error: function() {
                $(this).attr("checked", true);
              },
              success: function(res) {
                $(this).attr("checked", false);
              }
            });
          }
        });
        </script>
        <%end%>
      </div>
    </div>
    <%end%>

      <% if permit_by_workflow(@article, current_user,'language')%>
    <div class="form-group">
      <div class="form-label"><%=t :languages%></div>
      <div>
        <% for language in Language.all%>
        <%@speaking = Speaking.where(article_id: @article.id, language_id: language.id).first%>
        <label class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" id="language_<%= language.id %>" <% if !@speaking.blank?%>checked<%end%> value="<%= language.id %>">
          <span class="custom-control-label" style='padding-right: 23px;padding-top: 2px;'><%= language.title%></span>
        </label>
        <script>
        $('#language_<%= language.id%>').change(function() {
          if($(this).is(":checked")) {
            $.ajax({
              url: '/speakings/remotec/1',
              type: 'GET',
              dataType: 'json',
              data: {
                article_id: <%= @article.id%>,
                language_id: <%= language.id %>
              },
              error: function() {
                $(this).attr("checked", false);
              },
              success: function(res) {
                $(this).attr("checked", true);
              }
            });
          } else {
            $.ajax({
              url: '/speakings/remoted/1',
              type: 'GET',
              dataType: 'json',
              data: {
                article_id: <%= @article.id%>,
                language_id: <%= language.id %>
              },
              error: function() {
                $(this).attr("checked", true);
              },
              success: function(res) {
                $(this).attr("checked", false);
              }
            });
          }
        });
        </script>
        <%end%>
      </div>
    </div>
    <%end%>

  <% if permit_by_workflow(@article, current_user,'article_format')%>
    <div class="form-group">
      <div class="form-label"><%=t :article_formats%></div>
      <div>
        <% for article_format in ArticleFormat.all%>
        <%@formating = Formating.where(article_id: @article.id, article_format_id: article_format.id).first%>
        <label class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" id="article_format_<%= article_format.id%>" <% if !@formating.blank?%>checked<%end%> value="option3">
          <span class="custom-control-label" style='padding-right: 23px;padding-top: 2px;'><%= article_format.title%></span>
        </label>
        <script>
        $('#article_format_<%= article_format.id%>').change(function() {
          if($(this).is(":checked")) {
            $.ajax({
              url: '/formatings/remotec/1',
              type: 'GET',
              dataType: 'json',
              data: {
                article_id: <%= @article.id%>,
                article_format_id: <%= article_format.id %>
              },
              error: function() {
                $(this).attr("checked", false);
              },
              success: function(res) {
                $(this).attr("checked", true);
              }
            });
          } else {
            $.ajax({
              url: '/formatings/remoted/1',
              type: 'GET',
              dataType: 'json',
              data: {
                article_id: <%= @article.id%>,
                article_format_id: <%= article_format.id %>
              },
              error: function() {
                $(this).attr("checked", true);
              },
              success: function(res) {
                $(this).attr("checked", false);
              }
            });
          }
        });
        </script>
        <%end%>
      </div>
    </div>
    <%end%>

  </div>

  <div class="card-footer text-right">
    <a href='/articles/article_other_details/<%= @article.id%>' class="btn btn-lime"><%=t :back%></a>
    <a href='/articles/article_contributions/<%= @article.id%>' class="btn btn-primary"><%=t :submit_and_go%></a>
  </div>
</div>
