<<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <title></title>
</head>
<body>
  <div class="page">
    <div class="container">
      <table class="table ">
        <tr>
          <td></td>
          <td><%= @article.title %></td>
        </tr>

        <tr>
          <td></td>
          <td>
            <% @article.titlings.group_by(&:title_type_id).each do |k,v| %>
            <% for t in v%>
            <%= t.content%><br />
            <%end%>
            <%end%>
          </td>
        </tr>

        <tr>
          <td></td>
          <td><%= @article.abstract %></td>
        </tr>


        <tr>
          <td></td>
          <td>
            <% for dating in @article.datings %>
            <%= dating.article_event.title%>:
            <span>
              <% @jalali = JalaliDate.to_jalali(dating.event_date)%>
              <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
            </span> <br />
            <%end%>
          </td>
        </tr>


        <tr>
          <td></td>
          <td>
            <% for contribution in @article.contributions %>
            <% if  !contribution.profile.blank? %>
            <%= contribution.profile.fullname%>,
            <%end%>
            <% if  !contribution.duty.blank? %>
            <%= contribution.duty.title%>,
            <%end%>
            <% if  !contribution.role.blank? %>
            <%= contribution.role.title%>
            <%end%> <br />
            <%end%>
          </td>
        </tr>



        <tr>
          <td></td>
          <td>
            <% @article.kinships.group_by(&:article_relation_type_id).each do |k,v| %>
            <%= ArticleRelationType.find(k).title%><br />
            <% @kins = []%>
            <% for kinship in v.sort_by!(&:rank).reverse!%>
            <% @kins << kinship.kin%>
            <%end%>
            <%for kin in @kins%>
            <%= kin.title%><br />
            <% kin.titlings.group_by(&:title_type_id).each do |k,v| %>
            <% for t in v%>
            <%= t.content%><br />
            <%end%>
            <%end%>
            <%= kin.abstract%><br />
            <%= kin.content%><br />
            <%end%>
            <hr />
            <%end%>

          </td>
        </tr>


      </table>
    </div>
  </div>
</body>
</html>
