<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <title></title>
  <style media="screen">
    * {
      font-size: 14px;
    }
    body {
      background-color: #fff;
      font-size: 16px;
    }

    p {
      text-align: justify;
    }

    hr.new2 {
      border-top: 0px dashed gray;
    }
    @media print
    {
      table {page-break-inside:avoid}
      tr    { page-break-inside:avoid; page-break-after:avoid }
    }
  </style>
</head>
<body>
  <div class="page">
    <div class="container" style='padding: 30px;'>
      <div class="row mb-8 text-center mt-8">
        <div class="col-1 text-center">
          <img src='/assets/ut.png' width='70px;'>
        </div>
        <div class="col-11">
          <span style='text-align: center; font-weight: 600;width: 960px;'>
            <%= @article.title %><br />
          </span>

          <% @article.titlings.group_by(&:title_type_id).each do |k, v| %>
          <% for t in v %>
          <span><%= sanitize t.content %></span><br />
          <% end %>
          <% end %>

        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <%= sanitize @article.content %>
        </div>
      </div>
      <% @article.kinships.group_by(&:article_relation_type_id).each do |k, v| %>
      <% @kins = [] %>
      <% for kinship in v.sort_by!(&:rank) %>
      <% @kins << kinship.kin %>
      <% end %>
      <% for kin in @kins %>
      <div class="row text-center mb-3">
        <div class="col-1 text-center">
          <% qrcode = RQRCode::QRCode.new(Rails.application.routes.default_url_options[:host] + "/" + kin.slug) %>
          <% svg = svg = qrcode.as_svg(
          offset: 0,
          color: "000",
          shape_rendering: "crispEdges",
          module_size: 2,
          standalone: true,
          ) %>
          <%= svg.html_safe %>
          <a href='/<%= kin.slug %>' style='font-family: tahoma;'><%= kin.slug %></a>
        </div>
        <div class="col-10">
          <%= raw kin.content %>
        </div>
      </div>
      <% end %>
      <% end %>

      <% i = 1 %>
      <div class="row text-center">
        <div class="col-12">
          <% for contribution in @article.contributions %>
          <% if !contribution.profile.signature.blank? %>
          <%= image_tag contribution.profile.signature(:medium) %>
          <% if i % 4 == 0 %>
        </div></div>
        <div class="row text-center">
          <div class="col-12">
            <% end %>
            <% i += 1 %>
            <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
