<style>
.progressbar li {
    list-style-type: none;
    width: <%= 100 / (@article.workflow_state.workflow.sections.count + 1)- 1%>%;
    float: right;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
</style>
<div class='pcontainer'>
  <ul class="progressbar">
    <li class="active"><%= link_to t(:titles), '/articles/'+@article.id.to_s+'/edit' %></li>
    <% if @article.id != nil%>
    <% for section in @article.workflow_state.workflow.sections%>
    <li class="active"><%= link_to section.title, '/articles/sectioned_form/'+@article.id.to_s+'?section_id='+section.id.to_s %></li>
    <%end%>
    <%end%>
  </ul>
</div>

<% if @article.id != nil && !@article.title.blank?%>
<div class="alert alert-primary mt-5 ">
  <%=t :title%>: <%= truncate(@article.title, length: 70) %><br />
  <% @article.titlings.group_by(&:title_type_id).each do |k,v| %>
    <% for t in v%>
    |<%=truncate(t.content , length: 70)%>
    <%end%>
    <%end%>
</div>
<%end%>
<div class="card">
  <div class="card-body p-1">
<% for section_item in @section.section_items%>
  <% case section_item.klass_name%>
    <% when 'article_area'%>
      <%= render partial: 'articles/areas_form', locals: {article: @article}%>
    <% when 'article_event'%>
      <%= render partial: 'articles/dates_form', locals: {article: @article}%>
    <% when 'article_format'%>
      <%= render partial: 'articles/formats_form', locals: {article: @article}%>
    <% when 'article_relation_type'%>
      <%= render partial: 'articles/relation_type_form', locals: {article: @article}%>
    <% when 'article_source'%>
      <%= render partial: 'articles/sources_form', locals: {article: @article}%>
    <% when 'article_type'%>
      <%= render partial: 'articles/types_form', locals: {article: @article}%>
    <% when 'keyword'%>
      <%= render partial: 'articles/keywords_form', locals: {article: @article}%>
    <% when 'descriptor'%>
      <%= render partial: 'articles/descriptor_form', locals: {article: @article}%>
    <% when 'language'%>
      <%= render partial: 'articles/language_form', locals: {article: @article}%>
    <% when 'upload'%>
      <%= render partial: 'articles/upload_form', locals: {article: @article}%>
    <% when 'contribution'%>
      <%= render partial: 'articles/contribution_form', locals: {article: @article}%>
    <% when 'publisher'%>
      <%= render partial: 'articles/publishers_form', locals: {article: @article}%>
  <%end%>
  <hr />
<%end%>

</div>

<div class="card-footer text-right">
  <% if !@article.next_section(@section.id).blank?%>
    <a href='/articles/sectioned_form/<%= @article.id%>?section_id=<%= @article.next_section(@section.id)%>' class="btn btn-primary"><%=t :submit_and_go%></a>
  <%else%>
    <a href='/articles/sectioned_form/<%= @article.id%>' class="btn btn-primary"><%=t :submit_and_view%></a>
  <%end%>
</div>
</div>
