<div class='row'>
  <div class="col-lg-3">
    <div class="card">
      <div class='card-body' style='padding: 1rem;'>
        <%= render partial: 'articles/workflow_actions', locals: {article: @article, nxt: @next_workflow_states, prv: @previous_workflow_states}%>
      </div>
      <div class='card-footer'>

      </div>
    </div>
  </div>
  <div class="col-lg-9 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><%=t :article_detail%></h4>
        <span class="tag mr-1"><%= truncate(@article.workflow_state.title, length: 15)%></span>
        <div class="card-options">
          <%= link_to "/articles/article_logs/#{@article.id}", remote: true, class: "btn btn-secondary btn-sm ml-1" do %>
            <i class="fe fe-git-branch" style="vertical-align: -3px;"></i> <%=t :logs%>
          <%end%>
          <%= link_to "/articles/workflow_transitions/#{@article.id}", remote: true, class: "btn btn-secondary btn-sm ml-1" do %>
            <i class="fe fe-repeat" style="vertical-align: -3px;"></i> <%=t :workflow_transitions%>
          <%end%>
          <%= link_to "/articles/article_detail/#{@article.id}", remote: true, class: "btn btn-secondary btn-sm ml-1" do %>
            <i class="fe fe-play" style="vertical-align: -3px;"></i> <%=t :article_detail%>
          <%end%>
          <a href="/articles/<%= @article.id%>/edit" class="btn btn-secondary btn-sm ml-1"><i class="fe fe-edit-2" style="vertical-align: -3px;"></i> <%=t :edit%></a>
        </div>
      </div>
      <div id='article-show'>
        <%= render partial: 'articles/article_detail', locals: {article: @article}%>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
