<div class='row'>
  <div class="col-lg-3">

    <% if article_owner(@article, current_user) %>
       <%= render partial: "articles/article_archive", locals: { article: @article } %>
    <% end %>

      <div class="example mt-4">
    <span class="text-muted small"><%= t :download_word_file %></span>
    <%= select_tag :word_template, options_for_select(@article.workflow_state.workflow.word_templates.all.collect { |p| [p.title, p.id] }), { include_blank: true, class: "form-control" } %>
    <script>
    $( "#word_template" ).change(function() {
      window.location.href='/articles/print/<%= @article.id %>.docx?word_template=' + $(this).val();
    });
    </script>
  </div>
    <%= render partial: "articles/article_note_template", locals: { article: @article } %>
<%= render partial: "articles/article_voices", locals: { article: @article } %>

</div>
<div class="col-lg-9 order-lg-1">

    <ol class="breadcrumb" aria-label="breadcrumbs">
        <li class="breadcrumb-item"><%= t :articles %></li>
        <% if  !@article.workflow_state.blank? && !@article.workflow_state.workflow.blank?%>
          <li class="breadcrumb-item"><%= truncate(@article.workflow_state.workflow.title, length: 40)rescue ''%></li>
        <% end %>
        <% if  !@article.workflow_state.blank? %>
          <li class="breadcrumb-item"><a href="/home?workflow_state=<%= @article.workflow_state.id%>&page=<%= params[:page]%>"><%= truncate(@article.workflow_state.title, length: 30) rescue ''%></a></li>
        <% end %>
        <li class="breadcrumb-item"><%= truncate(@article.title, length: 30) rescue ''%></li>
    </ol>

  <div class="card">
    <div class="card-header">
      <div class="card-options">
        <% if (!@article.workflow_state.blank? && @article.workflow_state.publishable == 2) || !@article.publish_uuid.blank? %>
          <% if user_accessible?(@article, current_user)%>
            <%= link_to "/articles/article_publishable/#{@article.id}", remote: true, class: "btn btn-secondary btn-sm ml-1" do %>
            <i class="fe fe-book-open" style="vertical-align: -3px;"></i> <%= t :publish %>
            <% end %>
          <% end %>
        <% end %>
        <% if user_accessible?(@article, current_user)%>
          <%= link_to "/articles/article_comments/#{@article.id}", remote: true, class: "btn btn-secondary btn-sm ml-1" do %>
          <i class="fe fe-message-square" style="vertical-align: -3px;"></i> <%= t :comments %>
          <% end %>
        <% end %>
        <% if user_accessible?(@article, current_user)%>
          <%= link_to "/articles/article_states/#{@article.id}", remote: true, class: "btn btn-secondary btn-sm ml-1" do %>
          <i class="fe fe-repeat" style="vertical-align: -3px;"></i> <%= t :workflow %>
          <% end %>
        <% end %>
        <% if grant_access("view_article_logs", current_user) && user_accessible?(@article, current_user) %>
          <%= link_to "/articles/article_logs/#{@article.id}", remote: true, class: "btn btn-secondary btn-sm ml-1" do %>
          <i class="fe fe-activity" style="vertical-align: -3px;"></i> <%= t :compare %>
          <% end %>
        <% end %>
        <% if grant_access("view_workflow_transactions", current_user) && user_accessible?(@article, current_user) %>
          <%= link_to "/articles/workflow_transitions/#{@article.id}", remote: true, class: "btn btn-secondary btn-sm ml-1" do %>
          <i class="fe fe-layers" style="vertical-align: -3px;"></i> <%= t :workflow_transitions %>
          <% end %>
        <% end %>
        <%= link_to "/articles/article_detail/#{@article.id}", remote: true, class: "btn btn-secondary btn-sm ml-1" do %>
        <i class="fe fe-play" style="vertical-align: -3px;"></i> <%= t :article_detail %>
        <% end %>
        <% if article_owner(@article, current_user) %>
          <a href="/articles/<%= @article.id %>/edit" class="btn btn-secondary btn-sm ml-1"><i class="fe fe-edit-2" style="vertical-align: -3px;"></i> <%= t :full_edit %></a>
          <% @state_page = StatePage.where(workflow_state_id: @article.workflow_state_id)&.first %>
          <% if !@state_page.blank? %>
            <a href="/p/<%= @state_page.uuid %>?edit=true&article_id=<%=@article.id%>" class="btn btn-success btn-sm ml-1"><i class="fe fe-edit-2" style="vertical-align: -3px;"></i> <%= t :edit %></a>
          <%end%>
        <% end %>
        
      </div>
    </div>
    <div id='article-show'>
      <%= render partial: "articles/article_detail", locals: { article: @article } %>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>
</div>
