<div class="container">
  <div class="row">
    <div class="col col-login mx-auto">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'card' }) do |f| %>
      <div class="card-body p-6">
        <div class="text-center mb-6">
          <img src="/assets/logo.png" class="h-6" alt="">
        </div>
        <div class="card-title"><%=t :forgot_your_password%></div>
        <%= devise_error_messages! %>
        <div class="small"><%=t :enter_your_email%>. <%=t :we_will_send_you_reset_password_instructions%></div>
        <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "form-control" %>
        </div>

        <div class="form-footer mb-3">
          <button type="submit" class="btn btn-primary btn-block"><%=t :change_your_password%></button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
