<div class="row row-cards">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <table class="table card-table table-vcenter">
        <tbody>
          <% @tagging_histories.each do |tagging_history| %>
          <tr>
                        <td><%= tagging_history.taggable_id %></td>
                        <td><%= tagging_history.taggable_type %></td>
                        <td><%= tagging_history.target_id %></td>
                        <td><%= tagging_history.target_type %></td>
                        <td><%= tagging_history.user_id %></td>
                        <td><%= tagging_history.revision_number %></td>
                        <td><%= tagging_history.article_id %></td>
                        <td><%= tagging_history.workflow_transition_id %></td>
                        <td><%= link_to t(:show), tagging_history %></td>
            <td><%= link_to t(:edit), edit_tagging_history_path(tagging_history) %></td>
            <td><%= link_to t(:destroy), tagging_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
