<div class="row row-cards">
  <div class="col-lg-12">

    <ol class="breadcrumb" aria-label="breadcrumbs">
        <li class="breadcrumb-item"><%= t :dashboard %></li>
        <% if !@home_setting.blank? && !@home_setting.workflow.blank? %>
          <li class="breadcrumb-item"><a href="#"><%= truncate(@home_setting.workflow.title, length: 30) %></a></li>
        <% end %>
        <% if !@home_setting.blank? && !@home_setting.workflow_state.blank? %>
          <li class="breadcrumb-item"><a href="#"><%= truncate(@home_setting.workflow_state.title, length: 30) %></a></li>
        <% end %>
    </ol>

    <div class="card">
      <div class="card-header">
        <i class="fe fe-feather"></i>&nbsp&nbsp<%= t :dashboard %>


 <div class="card-options">
          <div class="dropdown ml-2" >
            <button type="button" class="btn btn-secondary dropdown-toggle" style="font-size: 10px;" data-toggle="dropdown">
              <%= t :per_page %>
            </button>
            <div class="dropdown-menu" style="right: 0px !important;">
            <% [5, 10, 20, 100].each do |i| %>
                <%= link_to "/home?pp=" + i.to_s, id: "pp", class: "dropdown-item pd-compact" do %>
                                      <% if @home_setting.pp == i %>
                        <i class="fe fe-check" style="vertical-align:-3px;"></i>
                      <% end %>
                      <span id='pp-value'><%= i %></span>

                <% end %>
                <% end %>

            </div>            
            </div>

            <div class="dropdown ml-2" >
            <button type="button" class="btn btn-secondary dropdown-toggle" style="font-size: 10px;" data-toggle="dropdown">
              <%= t :view %>
            </button>
            <div class="dropdown-menu" style="right: 0px !important;">
                <%= link_to "/home?archived=0", id: "all", class: "dropdown-item pd-compact" do %>
                  <% if @home_setting.archived == 0 %>
                    <i class="fe fe-check" style="vertical-align:-3px;"></i>
                  <% end %>
                  <span id='pp-value'><%= t :all %></span>
                <% end %>
                <%= link_to "/home?archived=1", id: "archived", class: "dropdown-item pd-compact" do %>
                  <% if @home_setting.archived == 1 %>
                    <i class="fe fe-check" style="vertical-align:-3px;"></i>
                  <% end %>
                  <span id='pp-value'><%= t :archived %></span>
                <% end %>
                <%= link_to "/home?archived=-1", id: "unarchived", class: "dropdown-item pd-compact" do %>
                  <% if @home_setting.archived == -1 %>
                    <i class="fe fe-check" style="vertical-align:-3px;"></i>
                  <% end %>
                  <span id='pp-value'><%= t :unarchived %></span>
                <% end %>


            </div>            
            </div>


    <div class="dropdown ml-2 "  >
            <button type="button" class="btn btn-secondary dropdown-toggle" style="font-size: 10px;" data-toggle="dropdown">
              <%= t :workflows %>
            </button>
            <div class="dropdown-menu" style="right: 0px !important; font-size: 10px;">
            <a class="dropdown-item pd-compact" href="/home?workflow=-1">    
             <% if @home_setting.workflow == -1 %>                  
                <i class="fe fe-check" style="vertical-align:-3px;"></i>
             <% end %>
              <%= t(:all) %>
            </a>
            <% Workflow.user_available_workflows(current_user).each do |workflow| %>
                <%= link_to "/home?workflow=" + workflow.id.to_s, class: "dropdown-item pd-compact" do %>
                      <% if @home_setting.workflow == workflow.id %>
                        <i class="fe fe-check" style="vertical-align:-3px;"></i>
                      <% end %>
                    <%= truncate(workflow.title, length: 30) %>            
                <% end %>
            <% end %>
          </div>            
    </div>
  <% if @home_setting.workflow != -1 %>   
            <div class="dropdown ml-2"  >
            <button type="button" class="btn btn-secondary dropdown-toggle" style="font-size: 10px;" data-toggle="dropdown">
              <%= t :workflow_state %>
            </button>
            <div class="dropdown-menu" style="right: 0px !important; font-size: 10px;">
            <a class="dropdown-item pd-compact" href="/home?workflow_state=-1">    
             <% if @home_setting.workflow_state == -1 %>                  
                <i class="fe fe-check" style="vertical-align:-3px;"></i>
             <% end %>
              <%= t(:all) %>
            </a>
            <% role_ids = current_user.roles.pluck(:id) %>
            <% WorkflowState.where("role_id in (?) and workflow_id = ?", role_ids, @home_setting.workflow).each do |workflow_state| %>
                <%= link_to "/home?workflow_state=" + workflow_state.id.to_s, class: "dropdown-item pd-compact" do %>
                      <% if @home_setting.workflow_state == workflow_state.id %>
                        <i class="fe fe-check" style="vertical-align:-3px;"></i>
                      <% end %>
                    <%= truncate(workflow_state.title, length: 30) %>            
                <% end %>
            <% end %>
          </div>             
    </div>
    <% end %>     
  </div>


      </div>
      <% if @articles.blank? %>
      <div class='card-body' style="padding-bottom: 25px !important;">
        <div class="alert alert-info" role="alert">
          <%= t :no_new_article_in_your_dashboard %>
        </div>
      </div>
      <% else %>
      <%= render partial: "articles/list_wo_progress", locals: { articles: @articles } %>
      <% end %>

    </div>

    <div class="card">
      <div class="card-header">
        <i class="fe fe-repeat"></i>&nbsp&nbsp<%= t :your_workflows %>
      </div>
        <%= render partial: "workflows/list", locals: { workflows: current_user.workflows } %>
    </div>

  </div>
  <!--
  <div class="col-lg-2">

      <div class="card p-3 pr-2">
      <a href='/articles/new'>
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-green mr-3">
          <i class="fe fe-plus" style='vertical-align:-3px'></i>
        </span>
        <div class="mt-1">
          <h4 class="m-0 fs-12"><%= t :new_article %></h4>
          <small class="text-muted"></small>
        </div>
      </div>
      </a>
    </div>

    <div class="card p-3 pr-2">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-blue mr-3">
          <i class="fe fe-feather" style='vertical-align:-3px'></i>
        </span>
        <div class="mt-1">
          <h4 class="m-0 fs-12"><%= t :articles %></h4>
          <small class="text-muted"><% if !@articles.blank? %><%= @articles.count %><% else %>0<% end %></small>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <i class="fe fe-bell"></i>&nbsp&nbsp<%= t :notifications %>
      </div>
      <table class="table  card-table  table-vcenter">
          <tbody>
            <% if !@notifications.blank? %>
            <% for notification in @notifications %>
            <% if notification.valid && !notification.blank? %>
            <tr>
              <td style="padding-right:10px; padding-left:0px;"><%= raw notification.icon %></td>
              <td style="padding-right:10px; padding-left:0px; font-size:12px;"><%= raw notification.title %></td>
              <td style="padding-right:10px; padding-left:0px;"><span style='font-size:9px;'><%= t notification.notification_type %></span></td>
            </tr>
            <% end %>
            <% end %>
            <% end %>
          </tbody>
      </table>
    </div>
-->
  </div>
</div>
