<div class="row row-cards">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <i class="fe fe-feather"></i>&nbsp&nbsp<%=t :dashboard%>
      </div>
      <% if @articles.blank?%>
      <div class='card-body' style="padding-bottom: 25px !important;">
        <div class="alert alert-info" role="alert">
          <%=t :no_new_article_in_your_dashboard%>
        </div>
      </div>
      <%else%>
        <%= render partial: 'articles/list_wo_progress', locals: {articles: @articles}%>
      <%end%>

    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <i class="fe fe-message-square"></i>&nbsp&nbsp<%=t :messages%>
      </div>
      <div class="card-body">

      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <i class="fe fe-trending-down" style="vertical-align: -3px;"></i>&nbsp&nbsp<%=t :previous_workflow_actions%>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
