<div class="row row-cards">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <i class="fe fe-feather"></i>&nbsp&nbsp<%=t :dashboard%>
      </div>
      <% if @articles.blank?%>
      <div class='card-body' style="padding-bottom: 25px !important;">
        <div class="alert alert-info" role="alert">
          <%=t :no_new_article_in_your_dashboard%>
        </div>
      </div>
      <%else%>
      <%= render partial: 'articles/list_wo_progress', locals: {articles: @articles}%>
      <%end%>

    </div>

    <div class="card">
      <div class="card-header">
        <i class="fe fe-repeat"></i>&nbsp&nbsp<%=t :your_workflows%>
      </div>
        <%= render partial: 'workflows/list', locals: {workflows: current_user.workflows}%>
    </div>

  </div>
  <div class="col-lg-4">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-green mr-3">
          <i class="fe fe-feather" style='vertical-align:-3px'></i>
        </span>
        <div class="mt-1">
          <h4 class="m-0"><%=t :articles%></h4>
          <small class="text-muted"><%= @articles.count%> <%=t :in_your_dashboard%></small>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <i class="fe fe-bell"></i>&nbsp&nbsp<%=t :notifications%>
      </div>
      <table class="table table-hover table-outline table-vcenter text-nowrap card-table">.
          <tbody>
            <% for notification in @notifications%>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <%end%>
          </tbody>
      </table>
    </div>

  </div>
</div>
