<div class="row row-cards">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <% if grant_access("alter_article_relation_types", current_user)%>
                <%= link_to  new_article_relation_type_url, class: "btn btn-lime  btn-sm" do%>
                  <i class="fe fe-plus" style="vertical-align:-3px;"></i> <%=t :new%>
                <%end%>
              <%end%>
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <div class="card-header">
        <%=t :article_relation_types%>
      </div>
      <table class="table card-table table-vcenter">
        <thead>
          <tr>
            <th class="text-center"><i class="fe fe-command" style="vertical-align: -4px;"></i></th>
            <th><%=t :title%></th>
            <th><%=t :articles %></th>
            <th><%=t :last_editor %></th>
            <th><%=t :last_edit %></th>
          </tr>
        </thead>
        <tbody>
          <% @article_relation_types.each do |article_relation_type| %>
          <tr>
            <td class="text-center">
              <div class="item-action dropdown">
                <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="/article_relation_types/<%= article_relation_type.id%>" class="dropdown-item"><i class="dropdown-icon fe fe-play"></i><%=t :show%> </a>
                  <% if grant_access("alter_article_relation_types", current_user)%>
                    <a href="/article_relation_types/<%= article_relation_type.id%>/edit" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> <%=t :edit%> </a>
                    <%= link_to article_relation_type, method: :delete, class: "dropdown-item" ,data: { confirm: 'Are you sure?' } do %>
                      <i class="dropdown-icon fe fe-trash"></i> <%=t :destroy%>
                    <%end%>
                  <%end%>
                </div>
              </div>
            </td>
            <td><%= article_relation_type.title %></td>
            <td>
              <div class="tag tag-dark" style='vertical-align: 6px;'>
                <span class="tag-addon tag-success"><i class="fe fe-book-open" style="vertical-align: -3px;"></i></span>
                <%= article_relation_type.articles.count %>
              </div>
            </td>
            <td>
              <span class="tag" style='vertical-align: -3px;'>
                <span class="tag-avatar avatar" style="background-image: url('<%= article_relation_type.user.profile.avatar(:tiny)%>')"></span>
                <%= truncate(article_relation_type.user.profile.fullname, length: 15)%>
              </span>
            </td>
            <td>
              <small class="text-muted">
                <span>
                  <% @jalali = JalaliDate.to_jalali(article_relation_type.updated_at)%>
                  <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
                </span>
              </small>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
