<div class="row row-cards">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <%= link_to  new_article_relation_type_url, class: "btn btn-lime  btn-sm" do%>
              <i class="fe fe-plus" style="vertical-align:-3px;"></i> <%=t :new%>
              <%end%>
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <table class="table card-table table-vcenter">
        <tbody>
          <% @article_relation_types.each do |article_relation_type| %>
          <tr>
            <td><%= article_relation_type.title %></td>
            <td><%= article_relation_type.description %></td>
            <td><%= link_to t(:show), article_relation_type %></td>
            <td><%= link_to t(:edit), edit_article_relation_type_path(article_relation_type) %></td>
            <td><%= link_to t(:destroy), article_relation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
