<div id='article_contributions_list'>
  <div class="table-responsive">
    <table class="table card-table table-striped table-vcenter">
      <thead>
        <tr>
          <th><%=t :fullname%></th>
          <th><%=t :role%></th>
          <th><%=t :duty%></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for contribution in article.contributions%>
        <tr>
          <td>
            <%if !contribution.profile.blank?%>
              <%= contribution.profile.fullname%>
            <%end%>
          </td>
          <td>
            <%if !contribution.role.blank?%>
              <%= contribution.role.title%>
            <%end%>
          </td>
          <td>
            <%if !contribution.duty.blank?%>
              <%= contribution.duty.title%>
            <%end%>
        </td>
          <td class="">
            <%= link_to contribution, method: :delete, remote: true, data: { confirm: "#{t(:are_you_sure_?)}" } do%>
              <i class="fe fe-trash"></i>
            <%end%>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
