<div class='row'>
  <div class="col-lg-3 order-lg-1">
    <div class="card">
      <div class="card-body" style="padding: 1rem;">
        <div class="list-group list-group-transparent mb-0">
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-center active" style="color: #464a4e;font-size:smaller; background-color: #e7e8ea;border-color: #dddfe2;">
            <%=t :article_sources%>
          </a>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-center active mt-1" style="font-size:smaller;">
            <%= @article_source.title%>
          </a>
          <div class='mt-2 mr-3 ml-3 mb-2' style="font-size:smaller; text-align:justify;">
            <b><%=t :description%>:</b> <%= @article_source.description%>
          </div>
          <div class='mt-2 mr-3 ml-3 mb-2' style="font-size:smaller; text-align:justify;">
            <b><%=t :attachments%>:</b><br />
            <% for upload in Upload.where(uploadable_type: 'ArticleSource', uploadable_id: @article_source.id, attachment_type: 'article_source_attachment')%>
            <% if upload.attachment_content_type.include?("application") || upload.attachment_content_type.include?("text")%>
            <%= link_to upload.attachment.url do%>
            <i class="fe fe-download" style="vertical-align:middle;"></i> <%=t :download_file%>
            <%end%>
            <%else%>
            <a href="#" data-featherlight="<%= upload.attachment(:large)%>" data-featherlight-type="image">
              <%= image_tag upload.attachment(:thumb)%>
            </a>
            <%end%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 order-lg-1">
    <div class="card">
      <div class="card-header">
        <div class="card-options">
          <%= link_to "/article_sources", class: "btn btn-secondary btn-sm ml-1" do %>
          <i class="fe fe-arrow-left" style="vertical-align: -3px;"></i> <%=t :back%>
          <%end%>
        </div>
      </div>
      <%= render partial: 'articles/list', locals: {articles: @article_source.articles}%>
    </div>
  </div>
</div>
