<div class="row">
  <div class="col col-login mx-auto mt-4">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name),html:{ class: "card"} ) do |f| %>
    <div class="card-body p-6">
      <div class="text-center mb-6">
        <img src="/assets/logo.png" class="h-6" alt="">
      </div>
      <div class="card-title"><%=t :login_to_your_account%></div>
      <div class="form-group">
        <%= f.label :email, class: "form-label" %>
        <%= f.text_field :email , class: "form-control", 'aria-describedby' => "emailHelp",  'placeholder' => "#{t(:enter_email)}"%>
      </div>
      <div class="form-group">
        <label class="form-label">
          <%=t :password%>
          <%=link_to t(:i_forgot_password), '/users/password/new', class:"float-right small"%>
        </label>
        <%= f.password_field :password, autocomplete: "current-password",  class:"form-control" %>
      </div>
      <div class="form-group">
        <label class="custom-control custom-checkbox">
          <%= f.check_box :remember_me,  class: "custom-control-input" %>
          <%= f.label :remember_me,  class:"custom-control-label", style: 'padding-right: 20px;' %>
        </label>
      </div>
      <div class="form-footer mb-3">
        <button type="submit" class="btn btn-primary btn-block"><%=t :sign_in%></button>
      </div>
    </div>
    <%end%>
    <div class="text-center text-muted">
      <%=t :dont_have_account_yet%> <a href="/users/sign_up"><%=t :sign_up%></a>
    </div>
  </div>
</div>
