<%= form_for(areaing, remote: true,html: {id: 'article_areaings_form'}) do |f| %>
<% if areaing.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(areaing.errors.count, "error") %> prohibited this areaing from being saved:</h2>

  <ul>
    <% areaing.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <%= f.hidden_field :article_id , value: article.id %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :article_area_id, class: "form-label" %>
        <%= text_field_tag :article_area, nil , class: "form-control" %>
        <%= f.hidden_field :article_area_id , value: '' %>
      </div>
    </div>
  </div>

  <div class="card-footer text-right">
    <button type="submit" class="btn btn-primary"><%=t :submit%></button>
  </div>
<% end %>
