<div id='article_kinships_list'>
  <div class="table-responsive">
    <table class="table card-table table-striped table-vcenter">
      <thead>
        <tr>
          <th><%=t :article_relation_type%></th>
          <th><%=t :kin%></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for kinship in article.kinships.order(:rank)%>
        <% if !kinship.kin.blank?%>
        <tr>
          <td><%= kinship.article_relation_type.title%></td>
          <td><%= truncate(kinship.kin.title, length: 30) %> (<%= kinship.rank%>)</td>
          <td>

            <%= link_to "/kinships/change_rank/#{kinship.id}?to=up", class: "icon", remote: true do %>
            <i class="fe fe-chevrons-up" style='vertical-align:-3px;'></i>
            <%end%>

            <%= link_to "/kinships/change_rank/#{kinship.id}?to=down", class: "icon", remote: true do %>
            <i class="fe fe-chevrons-down" style='vertical-align:-3px;'></i>
            <%end%>
          </td>
          <td class="">
            <%= link_to kinship, method: :delete, remote: true, data: { confirm: "#{t(:are_you_sure_?)}" } do%>
              <i class="fe fe-trash"></i>
            <%end%>
          </td>
        </tr>
        <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
