<%= form_for(@keyword, html: {class: 'card'}) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :new_keyword %></h3>
</div>
<% if @keyword.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>

  <ul>
    <% @keyword.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card-body">
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title , class: "form-control" %>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description , class: "form-control" %>
          </div>
  </div>
</div>
<div class="card-footer text-right">
  <button type="submit" class="btn btn-primary"><%=t :submit%></button>
</div>
<% end %>
