<div class='row'>
  <div class="col-lg-4 order-lg-1">
  </div>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class='row'>
          <div class='col-md-12 col-lg-12'>
                        <div class="form-group">
              <%= label :tagging, :taggable_id , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @tagging.taggable_id %></div>
            </div>
                        <div class="form-group">
              <%= label :tagging, :taggable_type , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @tagging.taggable_type %></div>
            </div>
                        <div class="form-group">
              <%= label :tagging, :target_id , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @tagging.target_id %></div>
            </div>
                        <div class="form-group">
              <%= label :tagging, :target_type , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @tagging.target_type %></div>
            </div>
                      </div>
        </div>
      </div>
    </div>
  </div>
</div>
