<%= form_for(@upload, html: {class: 'card'}) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :new_upload %></h3>
</div>
<% if @upload.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

  <ul>
    <% @upload.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card-body">
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :uploadable_type, class: "form-label" %>
      <%= f.text_field :uploadable_type , class: "form-control" %>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :uploadable_id, class: "form-label" %>
      <%= f.number_field :uploadable_id , class: "form-control" %>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :token, class: "form-label" %>
      <%= f.text_field :token , class: "form-control" %>
          </div>
  </div>
</div>
<div class="card-footer text-right">
  <button type="submit" class="btn btn-primary"><%=t :submit%></button>
</div>
<% end %>
