<fieldset class="form-fieldset">
  <%=t :send_to%>
  <%= form_tag "/articles/send_to/#{article.id}", method: :get, remote: true do %>
  <div class="form-group">
    <label class="form-label"></label>
    <%= select_tag  "workflow_state", options_for_select(nxt.collect { |p| [ p.title, p.id ] }), {class: "form-control"} %>
  </div>
  <div class="form-group">
     <label class="form-label" style='font-size:10px; font-style:italic;'></label>
    <%= text_area_tag  "message", nil, class: "form-control", placeholder: t(:message_content) %>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-lime btn-sm"><i class="fe fe-trending-up" style="vertical-align: -3px;"></i> <%=t :send%></button>
  </div>
  <%end%>
</fieldset>
