<%= form_for(@vote, html: {class: 'card'}) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :new_vote %></h3>
</div>
<% if @vote.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

  <ul>
    <% @vote.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card-body">
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :user_id, class: "form-label" %>
      <%= f.number_field :user_id , class: "form-control" %>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :voting_id, class: "form-label" %>
      <%= f.number_field :voting_id , class: "form-control" %>
          </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
          <%= f.label :outcome, class: "form-label" %>
      <%= f.number_field :outcome , class: "form-control" %>
          </div>
  </div>
</div>
<div class="card-footer text-right">
  <button type="submit" class="btn btn-primary"><%=t :submit%></button>
</div>
<% end %>
