<%= form_for(@section_item, html: {class: 'card'}) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :section_item_form %></h3>
</div>
<% if @section_item.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@section_item.errors.count, "error") %> prohibited this section_item from being saved:</h2>

  <ul>
    <% @section_item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="card-body">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title , class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :klass_name, class: "form-label" %>
        <%= f.text_field :klass_name , class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :description, class: "form-label" %>
        <%= f.text_area :description , class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <button type="submit" class="btn btn-primary"><%=t :submit%></button>
  </div>
</div>
<% end %>
