<div class="row row-cards">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <table class="table card-table table-vcenter">
        <tbody>
          <% @typing_histories.each do |typing_history| %>
          <tr>
                        <td><%= typing_history.article_type_id %></td>
                        <td><%= typing_history.article_id %></td>
                        <td><%= typing_history.typing_id %></td>
                        <td><%= typing_history.revision_number %></td>
                        <td><%= typing_history.user_id %></td>
                        <td><%= typing_history.workflow_transition_id %></td>
                        <td><%= link_to t(:show), typing_history %></td>
            <td><%= link_to t(:edit), edit_typing_history_path(typing_history) %></td>
            <td><%= link_to t(:destroy), typing_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
